{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "plugins": [
        "@typescript-eslint"
    ],
    "parserOptions": {
        "ecmaVersion": 2019,
        "sourceType": "module"
    },
    "env": {
        "node": true,
        "es6": true
    },
    "rules": {
        "array-bracket-spacing": [
            "error"
        ],
        "arrow-parens": [
            "error",
            "always"
        ],
        "object-curly-spacing": [
            "error",
            "always"
        ],
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/indent": [
            "error",
            4
        ],
        "@typescript-eslint/no-explicit-any": "off",
        "quotes": [
            2,
            "single",
            "avoid-escape"
        ]
    }
}
