{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "plugins": [
        "@typescript-eslint",
        "import"
    ],
    "parserOptions": {
        "ecmaVersion": 2019,
        "sourceType": "module"
    },
    "env": {
        "node": true,
        "es6": true
    },
    "rules": {
        "array-bracket-spacing": [
            "error"
        ],
        "arrow-parens": [
            "error",
            "always"
        ],
        "block-spacing": [
            "error",
            "always"
        ],
        "brace-style": [
            "error",
            "1tbs",
            {
                "allowSingleLine": true
            }
        ],
        "function-call-argument-newline": [
            "error",
            "never"
        ],
        "function-paren-newline": [
            "error",
            "never"
        ],
        "import/order": [
            "error",
            {
                "groups": [
                    "builtin",
                    "external",
                    "internal",
                    "index",
                    "sibling",
                    "parent"
                ],
                "alphabetize": {
                    "order": "asc"
                }
            }
        ],
        "max-len": [
            "error",
            {
                "code": 120
            }
        ],
        "object-curly-spacing": [
            "error",
            "always"
        ],
        "semi": [
            "error",
            "always"
        ],
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/indent": [
            "error",
            4
        ],
        "@typescript-eslint/no-explicit-any": "off",
        "quotes": [
            "error",
            "single",
            "avoid-escape"
        ]
    }
}
