<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8">
		<link href="/styles/style.css" rel="stylesheet" type="text/css">
		<link href="/images/icon.png" rel="icon" type="image/x-icon"/>
		<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
		<title>404 – TypicalBot</title>
	</head>
	<body>
		<%- include("nav.ejs", { master, auth, user: auth ? user : null }) %>
		<div class="page">
			<h1 class="title">Whoops!</h1>
			<p class="text">Sorry, that page doesn't exist.</p>
		</div>
	</body>
</html>
