<div class="nav">
    <img src="https://typicalbot.com/images/icon.png" />
    <a href="/" class="title">TypicalBot Dashboard</a>

    <ul class="links links-right">
        <% if (auth) { %>
            <% if (master.userLevel(user.id) >= 6) { %>
                <li><a href="/staff">Staff Panel</a></li>
            <% } %>
            <li><a href="/user">
                <img class="profile-img" src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png" />
                <%= user.username %>
            </a></li>
            <li><a href="/auth/logout">Sign Out</a></li>
        <% } else { %>
            <li><a href="/auth/login">Sign In</a></li>
        <% } %>
    </ul>
</div>
