<div class="navbar navbar-default navbar-static-top container-fluid">
    <div class="navbar-header">
        <img src="/images/icon.png">
        <a class="navbar-brand navbar-head" href="/">TypicalBot Dashboard</a>
    </div>
    <ul class="nav navbar-nav navbar-right navbar-link-list">
        <li><a href="javascript:window.open('https://typicalbot.com/invite/', 'TypicalBot', 'width=495,height=600')">Add TypicalBot</a></li>
        <% if (auth) { %>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <img src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png">
                    <%= user.username %> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/user"><i class="fa fa-user" aria-hidden="true"></i> User Profile</a></li>
                    <% if (master.staff(user.id)) { %>
                        <li><a href="/staff"><i class="fa fa-flag" aria-hidden="true"></i> Staff Panel</a></li>
                    <% } %>
                    <li class="divider"></li>
                    <li><a href="/auth/logout"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Log Out</a></li>
                </ul>
            </li>
        <% } else { %>
            <li><a href="/auth/login">Log In</a></li>
        <% } %>
    </ul>
</div>
