<!doctype html>
<html>
	<head>
        <%- include("../parts/head.ejs") %>
        <title>Home – TypicalBot</title>
	</head>
	<body>
		<%- include("../parts/navigation.ejs", { master, auth, user: auth ? user : null }) %>

		<div class="page-container container-fluid">
            <div class="section">
				<span class="title" data-center><p>Uh oh!</p></span>
                <p class="text" style="text-align: center;">You don't seem to have access to that page.</p>
                <center><img src="/images/noaccess.png"></center>
			</div>
        </div>

		<%- include("../parts/foot.ejs") %>
	</body>
</html>
