<!doctype html>
<html>
	<head>
        <%- include("../parts/head.ejs") %>
        <title>Home – TypicalBot</title>
	</head>
	<body>
		<%- include("../parts/navigation.ejs", { master, auth, user: auth ? user : null }) %>

		<div class="page-container container-fluid">
            <div class="section">
				<span class="title"><p>Join Our Server</p></span>
				<p class="text">You can contact the staff team, proficient members, and any other normal member in the TypicalBot Lounge server on discord. Join the server with the invite <a href="https://discord.gg/typicalbot">https://discord.gg/typicalbot</a>.</p>
			</div>

			<div class="section">
				<span class="title"><p>Contact Staff</p></span>
				<p class="text">You can contact the follow staff members by email:</p>
				<ul style="margin-left: 30px;">
					<li>HyperCoder (Creator) : hypercoder@typicalbot.com</li>
					<li>Xenotater (Administrator) : xenotater@typicalbot.com</li>
					<li>Packer (Support / Dev Helper) : packer@typicalbot.com</li>
				</ul>
			</div>
        </div>

		<%- include("../parts/foot.ejs") %>
	</body>
</html>
