<!doctype html>
<html>
	<head>
        <%- include("../parts/head.ejs") %>
        <title>Home – TypicalBot</title>
	</head>
	<body>
		<%- include("../parts/navigation.ejs", { master, auth, user: auth ? user : null }) %>

		<div class="page-container container-fluid">
            <div class="section">
				<span class="title"><p>What is TypicalBot?</p></span>
				<p>Built upon years of experience, TypicalBot is the ironically-named bot that is far from typical. Stable, lightning fast, and easy to use, TypicalBot is there for you and will seamlessly help you moderate your server and offer some entertaining features for your users, every step of the way. </p>
			</div>

			<div class="section">
				<span class="title"><p>What people say about TypicalBot</p></span>
				<div class="col-sm-4 col-md-4 col-lg-4">
					<div class="panel panel-default quote quote-sm">
						<div class="panel-heading">HyperCoder#2975 says:</div>
						<div class="panel-body">“Hey there! This is a silly feedback message!”</div>
					</div>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-4">
					<div class="panel panel-default quote">
						<div class="panel-heading">HyperCoder#2975 says:</div>
						<div class="panel-body">“TypicalBot is the best bot that was ever created!!!!”</div>
					</div>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-4">
					<div class="panel panel-default quote quote-sm">
						<div class="panel-heading">HyperCoder#2975 says:</div>
						<div class="panel-body">“Hey there! This is a silly feedback message!”</div>
					</div>
				</div>
			</div>
        </div>

		<%- include("../parts/foot.ejs") %>
	</body>
</html>
