.navbar {
	background-color: #00adff;
	border-radius: 0;
	border: none;
}
.navbar-head {
	color: #fff !important;
	font-weight: 500;
	font-size: 30px;
	font-family: 'Fugaz One', 'Chewy';
}
.navbar-link-list li a {
    color: #fff !important;
}
.navbar-link-list li a:hover {
    color: #ccc !important;
}
.badge {
	background-color: #00adff !important;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
	background-color: #00adff;
	opacity: 0.5;
}

.nav-lower {
	background-color: rgba(30, 30, 30, 0.7) !important;
	height: 30px;
	padding: 0 120px 0 120px;
}
.nav-lower ul li a {
	padding-top: 4px;
	padding-bottom: 4px;
	height: 30px;
	line-height: 22px;
}
.servers-stat {
	padding-top: 4px;
	padding-bottom: 4px;
	height: 30px;
	line-height: 22px;
	margin: 0;
	color: white;
}

.btn-info,
.panel-info .panel-heading {
	background-color: #00adff;
}
.panel-info .panel-heading {
	border-color: #00adff !important;
	color: white !important;
}
.item-header-blue {
	color: #00adff;
	font-weight: 600;
	font-size: 18px;
}
.divider {
	width: 80%;
	height: 1px;
	display: block;
	background-color: #00adff;
	margin: 10px auto 10px auto;
}
.loginpanel {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    margin-right: -50% !important;
    transform: translate(-50%, -50%) !important;
}
.loginpanel-sub {
	padding: 20px;
}
.box {
	display: inline-block !important;
	background-color: #f5f5f5 !important;
	border: 1px solid #e3e3e3 !important;
	border-radius: 4px !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	padding: 6px;
	margin: 20px;
	/*
	box-shadow: 0.25px 0.25px 0.25px rgb(100, 100, 100);
	*/
}
.box p {
	margin: 1px;
}
.box .lg {
	font-size: 21px;
}
.box .sm {
	font-size: 12px;
	color: #999;
}
.icon {
	background-color: #999;
	border-radius: 4px;
	height: 60px;
	width: 60px;
	vertical-align: middle;
	text-align: center;
	display: inline-block;
}
#server {
	background-color: green;
	color: white;
}
.btn-donate {
	font-size: 25px;
	padding-left: 80px !important;
	padding-right: 80px !important;
}
.donate-box {
	float: none !important;
	margin: auto !important;
}
.donate-box .header {
	font-size: 60px;
	color: #00adff;
	text-align: center;
	font-weight: 600;
	text-shadow: 4px 4px 4px black;
}
.about {
	background-image: url("about/background.jpg");
	padding-bottom: 150px;
}
.about-head {
	display: block;
	margin: 10px 200px 10px 200px;
	color: white;
	font-size: 30px;
}
.about-page {
	/*width: 80%;*/
	margin: 0 150px 0 150px;
	padding: 20px;
	background-color: white;
}
.about-page #indent {
	margin-left: 15px;
}
.about #def {
	color: #00adff;
}
.about .def p {
	font-size: 12px !important;
}
.about-page p {
	font-size: 16px;
	margin: 0 0 6px 0;
}
.about-page #bg {
	font-size: 25px;
}
.about-page #md {
	font-size: 20px;
}
.about-page #sm {
	font-size: 15px;
}
sup {
	left: 1px;
	font-size: 60%;
}
.hr-gray {
	width: 90%;
	border-color: #ccc;
}
.footer p {
	padding: 10px 12px 12px;
	color: #909090;
	float: right;
}
