body {
    background-color: #f5f5f5;
}

.navbar {
    background-color: #333;
}
.navbar .navbar-link-list .open > a {
    background-color: #00ADFF !important;
}
.navbar .navbar-link-list li a:hover {
    background-color: #00ADFF !important;
}

.page-container .panel-heading {
    background-color: #333 !important;
    color: white !important;
}
.page-container .st-edit {
    color: white;
    float: right;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    transition: color 0.25s linear !important;
    text-decoration: none;
}
.page-container .st-edit:hover {
    color: #00adff;
}

.page-container .guilds tr td a button {
    background-color: #333;
}
.page-container .guilds tr td a button:hover {
    background-color: #00ADFF;
}
