<!DOCTYPE html>

<html>
	<head>
        <%- include("../parts/head.ejs") %>
        <title>Applications – TypicalBot</title>
	</head>
	<body>
		<%- include("../parts/navigation.ejs", { master, auth, user: auth ? user : null }) %>

		<div class="page-container container-fluid">
            <div class="section">
				<span class="title"><p>Choose Application Type</p></span>
				<ul style="list-style-type: none; padding: 0;">
					<!--<li><a href="/applications/staff">Staff Application</a></li>
					<li><a href="/applications/partner">Partner Application</a></li>
					<li><a href="/applications/beta-tester">Beta Tester Application</a></li>-->
				</ul>
			</div>
        </div>

		<div class="footer container-fluid">
		    <p>Copyright &copy; 2017 HyperCoder</p>
		</div>
	</body>
</html>
