* {
	margin: 0px;
	padding: 0px;
}

body {
    font-family: 'Open Sans', arial, sans-serif;
    font-weight: normal;
	background-color: #f5f5f5;
}

.nav {
	margin: 0px;
	background-color: #333;
	padding: 0 75px 0 75px;
}
.nav > img {
	float: left;
	height: 36px;
	margin: 7px 5px;
}
.nav .title {
	display: inline-block;
	padding: 5px 10px 5px 10px;
	height: 40px;
	line-height: 35px;
	color: white;
	font-size: 25px;
	font-family: "Bree Serif", serif;
	text-decoration: none;
}
.nav .links {
	display: inline-block;
	list-style: none;
}
.nav .links-right {
	float: right !important;
}
.nav .links li {
	display: inline-block;
}
.nav .links .profile-img {
	float: left;
	display: inline-block;
	margin: 5px 8px 5px 0;
	height: 30px;
	border-radius: 100%;
}
.nav .links li a {
	display: inline-block;
	float: right;
	margin: 5px 8px;
	padding: 0 10px;
	height: 40px;
	color: white;
	text-decoration: none;
	line-height: 40px;
	transition: background 0.25s linear;
	font-size: 15px;
	border-radius: 3px;
}
.nav .links li a:hover {
	background-color: #00adff;
}

.card {
	box-shadow: 1px 2px 8px #3B3B3B;
	border-radius: 4px;
	margin-bottom: 75px;
}
.card .header {
	background-color: #00adff;
	padding: 15px;
	color: white;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	font-family: "Bree Serif", serif;
}
.card .body {
	padding: 20px;
	font-size: 20px;
}

.profile {
	padding: 2px;
	box-shadow: 1px 2px 8px #000000
}
.profile img {
	height: 80px;
}

.break {
	border-bottom: 1px solid #00adff;
	margin: 35px 20px 35px 20px;
}

.page {
	padding: 40px 8% 20px 8%;
}
.page .title {
    font-size: 24px;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: .5px;
}
.page .text {
	font-size: 18px;
	padding: 10px 30px;
}
.page .ind-text {
	font-size: 16px;
	padding: 10px 60px;
}
.page .lister {
	padding: 10px 30px 10px 30px;
	list-style-type: none;
}
.page .lister li > p {
	font-size: 18px;
	font-weight: bold;
}
.page .list {
	padding: 10px 30px;
	list-style-type: square;
	font-size: 18px;
}

.ind-1 { padding-left: 30px; }
.ind-2 { padding-left: 60px; }
.ind-3 { padding-left: 90px; }

.page .inline-list {
	list-style-type: none;
}
.page .inline-list li {
	display: inline-block;
	background-color: #e6e6e6;
	padding: 4px 10px;
	margin: 4px 2px;
	border-radius: 4px;
}

.page .setting-list {
	list-style-type: square;
}
.page .setting-list li{
	margin-bottom: 10px;
}
.page .setting-list li .setting {
	color: #00adff;
	font-weight: bold;
}
.page .setting-list li .value {
	padding: 4px 10px;
	border-radius: 4px;
	margin-left: 10px;
	background-color: #ececec;
}

.guild-list {
    list-style: none;
	padding: 10px 45px;
    font-size: 18px;
}

.guild-list li {
    display: inline-block;
    margin-bottom: 10px;
}

.guild-list li a {
    background-color: #e6e6e6;
    text-decoration: none;
    padding: 8px 15px;
	height: 20px;
	line-height: 20px;
	display: inline-block;
    color: black;
    border-radius: 4px;
    transition: all 0.25s linear;
}
.guild-list li a img {
	float: left;
	height: 20px;
	border-radius: 100%;
	margin-right: 10px;
}

.guild-list li a:hover {
    background-color: #00aaff;
    color: white;
}

input[type=text] {
    width: 20%;
    box-sizing: border-box;
    border: 1px solid #00adff;
    border-radius: 4px;
    font-size: 18px;
    background-color: white;
    background-repeat: no-repeat;
	margin: 15px 10px 10px 30px;
    padding: 12px 20px 12px 20px;
}

.guild-search input[type=text] {
	padding: 12px 20px 12px 40px;
    background-image: url('/images/search.png');
    background-position: 10px 10px;
}

input[type=text]:focus {
    border: 1px solid #00adff;
}

input[type=submit] {
    background-color: #00adff;
    border: none;
    color: white;
	padding: 10px 20px;
    border-radius: 4px;
	font-size: 18px;
    text-decoration: none;
    margin: 4px 2px 4px 20px;
    cursor: pointer;
}
